{% extends 'base.html' %}
{% block content %}

<div class="card text-center mb-3">
  <div class="row">
  <div class="col-md-12">
  <div class="card-body mb-3">
    <h1>Welcome </h1>
    <br>
    <a class="btn btn-dark" href="{% url 'polls:index' %}">
        Analyze Objective Questions</a>
  </div>
  </div>
  </div>
  </div>

  <script>
   /*  const player = document.getElementById('player');
  
    const handleSuccess = function(stream) {
      if (window.URL) {
        player.srcObject = stream;
      } else {
        player.src = stream;
      }


    };
  
    navigator.mediaDevices.getUserMedia({ audio: true, video: false })
        .then(handleSuccess); */


        const record = document.querySelector('.record');
const stop = document.querySelector('.stop');
const soundClips = document.querySelector('.sound-clips');


if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
   console.log('getUserMedia supported.');
   navigator.mediaDevices.getUserMedia (
      // constraints - only audio needed for this app
      {
         audio: true
      })

      // Success callback
      .then(function(stream) {
 
        
      })

      // Error callback
      .catch(function(err) {
         console.log('The following getUserMedia error occured: ' + err);
      }
   );
} else {
   console.log('getUserMedia not supported on your browser!');
}

const mediaRecorder = new MediaRecorder(stream);


record.onclick = function() {
  mediaRecorder.start();
  console.log(mediaRecorder.state);
  console.log("recorder started");
  record.style.background = "red";
  record.style.color = "black";
}

let chunks = [];

mediaRecorder.ondataavailable = function(e) {
  chunks.push(e.data);
}

stop.onclick = function() {
  mediaRecorder.stop();
  console.log(mediaRecorder.state);
  console.log("recorder stopped");
  record.style.background = "";
  record.style.color = "";
}




  </script>



<!-- 
<a id="download">Download</a>
<button id="stop">Stop</button>
<script>
  let shouldStop = false;
  let stopped = false;
  const downloadLink = document.getElementById('download');
  const stopButton = document.getElementById('stop');

  stopButton.addEventListener('click', function() {
    shouldStop = true;
  });

  const handleSuccess = function(stream) {
    const options = {mimeType: 'audio/webm'};
    const recordedChunks = [];
    const mediaRecorder = new MediaRecorder(stream, options);

    mediaRecorder.addEventListener('dataavailable', function(e) {
      if (e.data.size > 0) {
        recordedChunks.push(e.data);
      }

      if(shouldStop === true && stopped === false) {
        mediaRecorder.stop();
        stopped = true;
      }
    });

    mediaRecorder.addEventListener('stop', function() {
      downloadLink.href = URL.createObjectURL(new Blob(recordedChunks));
      downloadLink.download = 'acetest.wav';
    });

    mediaRecorder.start();
  };

  navigator.mediaDevices.getUserMedia({ audio: true, video: false })
      .then(handleSuccess);

</script> -->


<!-- 
<input type="file" accept="audio/*" capture id="recorder">
<audio id="player" controls></audio>
<script>
  const recorder = document.getElementById('recorder');
  const player = document.getElementById('player');

  recorder.addEventListener('change', function(e) {
    const file = e.target.files[0];
    const url = URL.createObjectURL(file);
    // Do something with the audio file.
    player.src = url;
  });
</script>
 -->





  <div class="row">
<div class="col-6">

  <form method="post" action='/polls/speech' enctype="multipart/form-data">
    {%csrf_token%}
    <div>
      <label for="file">Upload an audio file.</label>
      <input type="file" accept="audio/*" id="file" name="myfile" multiple>
    </div>
    <div>
      <button  type="submit" class="btn btn-success mx-auto" >Submit</button>
    </div>
   </form>
</div>




  <div class="container col-6 mb-4">

	  <div >
		<label for="input">Enter Text </label>
		<!-- <input id="input" type="" name="input" > -->
		<input id="input" name="input"> </input>
		<input class="btn btn-primary" onclick="renderChart()" type="submit">
	  </div>
  	
  </div>
</div>

<div class="card text-center">
<div class="row">
  <div class="col-md-12">
  
  <div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</div>
</div>
</div>




<!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function() {

console.log('hi');

};

function renderChart(){
	var data;
	(function (){
        
		fetch('/data').then(res=>res.json())
  .then(res => { data= res.json()});

	})();

	var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "Kisan Vikas Yojna"
	},
	textContent: {
		text: "mrngreglm"
	},


	data: [{
		type: "pie",
		startAngle: 25,
		toolTipContent: "<b>{label}</b>: {y}%",
		showInLegend: "true",
		legendText: "{label}",
		indexLabelFontSize: 16,
		indexLabel: "{label} - {y}%",
		dataPoints: [
			{ y: 51.08, label: "Positive" },
			{ y: 27.34, label: "Negative" },
			{ y: 10.62, label: "Neutral" },
		]
	}]
});
chart.render();
};


/* function send(){
var data = new FormData();
    data.append( "answer", "Hai how are you" );


    alert(  document.getElementById("your_name").value);
    fetch('/polls/ace', {
    method: 'post',
  
  body: data
  }).then(res=>res.json())
  .then(res => console.log(res));

}
 */
</script>
</head>
<body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
{% endblock %}
