<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Analysivis {% block title %}{% endblock %}</title>
    <script>

  function sample(){

    var data = new FormData();
    data.append( "answer", 'नमस्ते आप कैसे हैं' );


    alert('hi');
    fetch('/polls/ace', {
    method: 'post',
  
  body: data
  }).then(res=>res.json())
  .then(res => console.log(res));
    
  }
  </script>
  </head>
  <body>
  <nav class="navbar navbar-dark bg-primary mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">Dashboard</a>
  </div>
</nav>


 <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>



  



